<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{/css/error.css}">
    <title>Error</title>
</head>
<body>
<div class="container">
    <div class="text text-1">E</div><div class="text text-2">R</div><div class="text text-3">R</div><div class="text text-4">O</div><div class="text text-2">R</div>
    <img id="imgError" src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif">
    <button class="btn-1" onclick="window.location.href='/'">Back to home</button>
</div>
</body>
</html>