<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{/css/signup_success.css}">
    <title>Success</title>
</head>
<body>
<div class="container">
    <div class="left">
        <div class="form_success">
            <h2 id="successText" class="animation a1">We have sent an Email.<br>You must confirm to sign-in. </h2>
            <button id="backSignin" class="animation a2" onclick="window.location.href='/login'">BACK TO SIGNIN
            </button>
        </div>
    </div>
    <div class="right"></div>
</div>

</body>
</html>